@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color: #ffffff;
}

body{
  background-color: var(--primary-color);
  font-family: "Poppins", serif;
  
}


main{
  min-height: 100vh;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}




.swal2-popup {
  font-family: Arial, sans-serif;
  font-size: 16px;
  border-radius: 30px;
}


.swal2-title {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}


.swal2-confirm, .swal2-cancel {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px; 
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer; 
}


.swal2-confirm:hover, .swal2-cancel:hover {
  background-color: #282828;
}


.swal2-html-container select{
  border-radius: 30px;
  text-align: center;

}

.error-html-container{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.success-html-container{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.swal2-container, .swal2-center, .swal2-backdrop-show div{
  overflow: hidden;
}