
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px #00000046;
    width: 100vw;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 20px;
}



.login-container form {
    display: flex;
    flex-direction: column;
}



.login-container label {
    margin-bottom: 5px;
    color: #555;
}



.login-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.login-container button {
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    align-self: center;
    transition: 500ms;
}



.login-container button:hover {
    scale: 1.03;

}



.login-container #toggle-button {
    background-color: transparent;
    color: #222222;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}



.login-container #toggle-button:hover {
    text-decoration: underline;
}


#auth-form, #login-form, #register-form {
    display: flex;
    flex-direction: column;
}

#auth-form input, #login-form input, #register-form input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
}