header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-inline: 50px;
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 99;
    gap: 20px;
    height: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

header img{
    height: 40px;
}


.headerNav ul, .links ul{
    display: flex;
    align-items: center;
    gap: 20px;
}



.cartIcon-container {
    position: relative;
}


#cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: var(--primary-color);
    color: black;
    border-radius: 50%;
    min-width: 24px;
    min-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.searchBar{
    display: flex;
    gap: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: #f1f1f1;
    padding: 10px;
    border: none;
    
    
}

.searchBar > input{
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
    
  }

  .searchBar > input::-webkit-input-placeholder{
    color: #888888;
  }


  .searchBar > span{
    content: url("/public/searchIcon.svg");
  }



  .avatarImg{
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    width: 60px;
    height: 60px;
    cursor: pointer;
}


@media (max-width: 675px){
    .headerNav, .links{
        display: none;
    }
    header{
        height: 30px;
        padding: 30px;
    }
    header img{
        height: 30px;
        width: 100px;
    }
    .searchBar{
        height: 30px;
        width: 100%;
        padding: 5px;
        padding-left: 10px;
    }
}

@media (max-width: 850px) {
    .links {
        display: none;
    }
}