header{

    position: sticky;
    top: 0;
    z-index: 1;
    height: 60px;
}

header img{
    height: 40px;
}

.headerContainer{
    height: 80px;
    padding: 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.headerNav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}



.cartIcon-container {
    position: relative;
}


#cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: white;
    color: black;
    border-radius: 50%;
    min-width: 24px;
    min-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.searchBar{
    display: flex;
    gap: 5px;
    width: fit-content;
    border-radius: 30px;
    background-color: #f1f1f1;
    padding: 10px;
    border: none;
    
    
}

.searchBar > input{
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
    
  }

  .searchBar > input::-webkit-input-placeholder{
    color: #888888;
  }


  .searchBar > span{
    content: url("/public/searchIcon.svg");
  }



  .avatarImg{
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    width: 60px;
    height: 60px;
    cursor: pointer;
}


@media (max-width: 675px){
    .headerNav{
        display: none;
    }
    header{
        height: 30px;
    }
    header img{
        height: 30px;
        width: 100px;
    }
    .searchBar{
        height: 30px;
        width: 100%;
        padding: 5px;
        padding-left: 10px;
    }
}






.filters-hidden{
    display: none;
}
  
.filters {
    width: 100%;
    background-color: white;
    padding: 0px;
    height: 60px;
}

  

.filters > nav{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding: 10px;
}

.filters > nav::-webkit-scrollbar{
    width: 0;
}

.filters > nav > select{
    border-radius: 30px;
    background-color: white;
    width: 120px;
    min-width: 130px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    overflow-x: scroll;
    border: none;
    box-shadow: 0px 0px 10px #dedede
}


.filters > nav > select:focus{
    border: 0;
    outline: none;
}

.filters > nav > select:hover{
    overflow: none;
    overflow-y: scroll;
}