.cart-container{
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
}

.productInformation{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px #00000046;
    padding: 20px;
}

.increment-btn, .decrement-btn{
    width: 25px;
    height: 25px;
    background-color: #c7c7c7;
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}


.productCartDetails{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.cartImg{
    width: 10vw;
    min-width: 80px;
    min-height: 80px;
    height: 10vw;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.productInf{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.remove-btn{
    background-color: transparent;
    font-size: 20px;
    color: black;
    border: none;

}

.checkout-btn{
    background-color: var(--buttons-background);
    color: var(--buttons-color);
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bolder;
}

.cartSummary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 30px;
}


.productInf{
    font-size: 1.1em;
}

.cartSummary span{
    font-weight: bold;
    font-size: 20px;
}

.cartQuantity{
    display: flex;
    gap: 10px;
    align-items: center;
}