
.checkout-container{
    display: flex;
    padding: 40px;
    gap: 40px;

}

.checkout-container h1, h2{
    width: 100%;
    text-align: center;
    color: black;
}

.checkoutForm{
    width: 100%;
}

.checkoutSummary{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    border-radius: 30px;
    background-color: black;
    padding: 20px;
    height: fit-content;

}

.checkoutSummary h2{
    color: white;
}

.productCheckout{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    gap: 10px;
    padding: 20px;
    min-height: fit-content;
    box-shadow: 0px 0px 10px 1px #00000046;
}

.productCheckout img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.product-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-name{
    font-size: 20px;
    font-weight: 500;
}

.product-price{
    font-size: 20px;
    font-weight: bold;
}



.checkoutForm{
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: black;
}

.checkoutForm input{
    width: 50%;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid black;
    outline: none;
}

.personalInfo, .addressInfo, .paymentInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    background-color: #ebebeb;
    padding: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}


.personalInfo input, .addressInfo input, .paymentInfo input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease;
}


.personalInfo input:focus, .addressInfo input:focus, .paymentInfo input:focus {
    border-color: black;
}


.personalInfo h2, .addressInfo h2, .paymentInfo h2 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}


.personalInfo input::placeholder, .addressInfo input::placeholder, .paymentInfo input::placeholder {
    color: #888;
}


.checkoutButton{
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.applyCoupon{
    padding: 10px;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
}


.coupon{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    gap: 10px;
    box-shadow: 0px 0px 10px 1px #00000046;
}


.coupon div input{
    padding: 10px;
    border-radius: 30px;
    outline: none;
    border: solid black 1px;
    width: 100%;
}

.coupon div{
    display: flex;
    gap: 10px;
}










.details{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.subtotal,.shipping,.discount,.total{
    display: flex;
    justify-content: space-between;
}

.subtotal span::after, .shipping span::after, .discount span::after, .total span::after{
    content: "€";
}

.total{
    font-weight: bold;
    font-size: 20px;
}


@media (max-width: 970px){
    .checkout-container{
        flex-wrap: wrap;
    }
    .checkoutSummary{
        width: 100%;
    }
}

@media (max-width: 410px){
    .productCheckout{
        flex-direction: column;
    }
    .checkout-container{
        padding: 10px;
    }
}





.css-swal {
    border-radius: 20px;
  }
