.products-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding-inline: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    gap: 10px;
    padding: 20px;
    min-height: 490px;
    box-shadow: 0px 0px 10px 1px #00000046;
    transition: 0.5s;
}

.product:hover {
    transform: scale(1.03);
}
.productButton{
    padding: 10px;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
}







.filters-hidden{
    display: none;
}
  
.filters {
    position: sticky;
    top: 80px;
    z-index: 2;
    width: 100%;
    background-color: white;
    padding: 0px;
    height: 60px;
    
}

  

.filters > nav{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding: 10px;
}

.filters > nav::-webkit-scrollbar{
    width: 0;
}

.filters > nav > select{
    border-radius: 30px;
    background-color: white;
    width: 120px;
    min-width: 130px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    overflow-x: scroll;
    border: none;
    box-shadow: 0px 0px 10px #dedede
}


.filters > nav > select:focus{
    border: 0;
    outline: none;
}

.filters > nav > select:hover{
    overflow: none;
    overflow-y: scroll;
}

@media (max-width: 675px){
    .filters{
        top:60px;
    }
}