.products-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding-inline: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    gap: 10px;
    padding: 20px;
    min-height: 490px;
    box-shadow: 0px 0px 10px 1px #00000046;
    transition: 0.5s;
}

.product:hover {
    transform: scale(1.03);
}
.productButton{
    padding: 10px;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
}



.productImg {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}



.filters-hidden{
    display: none;
}
  
.filters {
    position: sticky;
    top: 80px;
    z-index: 0;
    width: 100%;
    background-color: white;
    padding: 0px;
    height: 60px;
    
}

  

.filters > nav{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding: 10px;
    text-align: center;
    overflow: none;
    overflow-y: scroll;
    white-space: nowrap;
}

.filters > nav > button{
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 10px #dedede
}


.filters > nav::-webkit-scrollbar{
    width: 0;
}



.rating{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.stars{
    font-weight: bold;
    display: flex;
    align-items: start;
}
.stars::after{
    content: url(/star.svg);

}

.reviews::after{
    content: "Opiniones";
    margin-left: 5px;
}



@media (max-width: 675px){
    .filters{
        top:60px;
    }
}