.account-container{
    gap: 50px;
    margin-top: 20px;
    text-align: center;
}

.userDetails{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.userDetails img{
    margin-top: 60px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

#logout{
    padding: 10px;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
}